</div><div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('Instruments/Saxophone/jens-thekkeveettil-dBWvUqBoOU8-unsplash (1).jpg') %>'); margin-top:-4rem;">
  <div class="container">
    <h1>Rent your dream <br> instrument. </h1>
    <a class="banner-button" href="/catalogue">Choose an instrument ></a>
  </div>
</div>

<%# // Popular instruments %>

<div class="">
  <div class=“instruments-categories”>
    <h2 class=“secondary-title”> Popular instruments </h2>
  </div>
  <div class="parent">
    <div class="child">
      <button class="button-rel">Piano</button> <%= image_tag 'Instruments/Piano/Piano1.jpg', class: "child-half" %>
  <div class="child">
    <button class="button-rel">Guitar</button> <%= image_tag 'Instruments/Guitar/thomas-kelley-2ZWCDBuw1B8-unsplash.jpg', class: "child-half" %>
    </div>
  </div>
    <div class="child">
      <button class="button-rel">Saxophone</button> <%= image_tag 'Instruments/Saxophone/benjamin-lehman-0h2F-Ib2Zdo-unsplash.jpg', class: "child-full" %>
    </div>
    <div class="child">
      <button class="button-rel">Batteries</button> <%= image_tag 'Instruments/Batteries/matthijs-smit-bRG2C0FAQEY-unsplash.jpg', class: "child-half" %>
  <div class="child">
      <button class="button-rel">Violon</button> <%= image_tag 'Instruments/Violon/baher-khairy-uqKyeMaaAOQ-unsplash.jpg', class: "child-half" %>
    </div>
  </div>

  </div>
</div>

<%# // Instruments categories %>

<div class=“instruments-categories”>
  <h2 class=“secondary-title”> Instruments categories </h2>
  <div class="gallery-grid">
    <figure class="gallery-frame">
     <%= image_tag 'Instruments/Violon/baher-khairy-uqKyeMaaAOQ-unsplash.jpg' %>
    </figure>
    <figure class="gallery-frame">
      <img class="gallery-img" src="https://picsum.photos/230/300?random=2.jpg" alt="percussion instruments" title="string instruments">
    </figure>
    <figure class="gallery-frame">
      <img class="gallery-img" src="https://picsum.photos/230/300?random=3.jpg" alt="symbol image" title="symbol image">
    </figure>
    <figure class="gallery-frame">
      <img class="gallery-img" src="https://picsum.photos/230/300?random=4.jpg" alt="symbol image" title="symbol image">
    </figure>
  </div><!-- end:gallery-grid -->
</div>

<%# // Top rated instruments %>

<div class=“toprated-instruments”>
  <h2 class=“secondary-title”> Top rated instruments </h2>
    <section>
</div>


<%#
  <div class="img-container">
    <div class="row">
      <div class="column">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
      </div>
      <div class="column">
        <img src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
        <img src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">
      </div>
    </div>
  </div>
</div>
 %>



<%
=begin%>
 <%= link_to "string", cateinstrument_path("String Instruments") %>
<div class="instrument-section">
  <div class="instrument-content">
    <img class="instrument-image" src="<%= asset_path('Instruments/Guitar/brent-ninaber-C8gib_msapY-unsplash.jpg') %>" alt="String Instruments Image">
    <div class="instrument-text"><%= "String Instruments" %></div>
  </div>
</div>

<div class="popular-instruments">
  <h2 class="secondary-title"> Popular instruments </h2>
    <div class="container-popular-instrument toto">
      <div class="main-photo"> <%= image_tag "Instruments/Piano/Piano1.jpg"%></div>
      <div class="small1 foto"> <%= image_tag "Instruments/Piano/Piano1.jpg"%></div>
      <div class="small2 foto"> <%= image_tag "Instruments/Piano/Piano1.jpg"%></div>
      <div class="small3 foto"> <%= image_tag "Instruments/Piano/Piano1.jpg"%></div>
      <div class="small4 foto"> <%= image_tag "Instruments/Piano/Piano1.jpg"%></div>
    </div>
</div>



<%
=begin%>
 middle content
<%
=end%>
