<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_path('Instruments/Saxophone/jens-thekkeveettil-dBWvUqBoOU8-unsplash.jpg') %>'); margin-top:-4rem;">
  <div class="container">
    <h1>Rent your dream instrument. </h1>
    <div class="banner-button">
      <a href="/catalogue">Choose an intrument ></a>
    </div>
  </div>
</div>

<div class="popular-instruments">
  <h2 class="secondary-title"> Popular instruments </h2>
    <div class="container-popular-instrument">
      <div class="main-photo"> <%= image_tag "Instruments/Piano/Piano1.jpg", width: 439, height: 409, crop: :fill%></div>
      <div class="small1"> <%= image_tag "Instruments/Piano/Piano1.jpg", width: 211, height: 204, crop: :fill%></div>
      <div class="small2"> <%= image_tag "Instruments/Piano/Piano1.jpg", width: 211, height: 204, crop: :fill%></div>
      <div class="small3"> <%= image_tag "Instruments/Piano/Piano1.jpg", width: 211, height: 204, crop: :fill%></div>
      <div class="small4"> <%= image_tag "Instruments/Piano/Piano1.jpg", width: 211, height: 204, crop: :fill%></div>
    </div>
</div>








<%
=begin%>
 middle content
<%
=end%>
