
<h3>Explore instruments</h3>

<div class="catalogue-links-container">
  <div class="single-link">
    <%= link_to "Piano", "#", class: "btn btn-outline-secondary" %>
  </div>
  <div class="single-link">
    <%= link_to "Guitar", "#", class: "btn btn-outline-secondary" %>
  </div>
  <div class="single-link">
    <%= link_to "Battery", "#", class: "btn btn-outline-secondary" %>
  </div>
  <div class="single-link">
    <%= link_to "Saxophone", "#", class: "btn btn-outline-secondary" %>
  </div>
  <div class="single-link">
    <%= link_to "Violin", "#", class: "btn btn-outline-secondary" %>
  </div>
</div>
<div>
<h2>String Instruments</h2>
  <% @instruments.where(category:"String Instruments").each do |i| %>
  <%= render "shared/instrument_card", i: i %>
<% end %>
</div>

<div>
<h2>String Instruments</h2>
  <% @instruments.where(category:"String Instruments").each do |i| %>
  <%= render "shared/instrument_card", i: i %>
<% end %>
</div>

<div>
<h2>Wind Instruments</h2>
  <% @instruments.where(category:"Wind Instruments").each do |i| %>
  <%= render "shared/instrument_card", i: i %>
<% end %>
</div>

<div>
<h2>Percussion Instruments</h2>
  <% @instruments.where(category:"Percussion Instruments").each do |i| %>
  <%= render "shared/instrument_card", i: i %>
<% end %>
</div>

<h2>Keyboard Instruments</h2>
  <% @instruments.where(category:"Keyboard Instruments").each do |i| %>
  <%= render "shared/instrument_card", i: i %>
<% end %>
</div>
