
<h1>Explore instruments</h1>



<div class="catagloue-links-container">
  <div class="single-link">
    <%= link_to "Piano", "#" %>
  </div>
  <div class="single-link">
    <%= link_to "Guitar", "#" %>
  </div>
  <div class="single-link">
    <%= link_to "Battery", "#" %>
  </div>
  <div class="single-link">
    <%= link_to "Saxophone", "#" %>
  </div>
  <div class="single-link">
    <%= link_to "Violin", "#" %>
  </div>
</div>
<%
=begin%>
 <ul>
  <% @instrument.each do |i| %>
   <h1 clas="String Instruments"> <%
    if(.category =="String Instruments") {
      i.name
    }
    %></h1>


  <% end %>
</ul>
<%
=end%>

<ul>
<%s =   true%>
<%w =   true%>
<%pe =   true%>
<%k =   true%>
  <% @instruments.each do |i| %>
    <% if i.category == "String Instruments" %>
     <% if(s == true)%>
     <div class="secondary-title">
        <%=i.category%>
        </div>
        <%s = false%>
     <%end%>
      <div class="card-product">
        <a href="<%= instrument_path(i) %>">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2 class="string-instruments"><%= i.name %></h2>
            <p><%= i.category %></p>
          </div>
        </a>
      </div>
    <% elsif i.category == "Wind Instruments" %>
    <% if(w== true)%>
        <div class="secondary-title">
        <%=i.category%>
        </div>
        <%w = false%>
     <%end%>
      <div class="card-product">
        <a href="<%= instrument_path(i) %>">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2 class="wind-instruments"><%= i.name %></h2>
            <p><%= i.category %></p>
          </div>
        </a>
      </div>
    <% elsif i.category == "Percussion Instruments" %>
     <% if(pe== true)%>
       <div class="secondary-title">
        <%=i.category%>
        </div>
        <%pe = false%>
     <%end%>
      <div class="card-product">
        <a href="<%= instrument_path(i) %>">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2 class="percussion-instruments"><%= i.name %></h2>
            <p><%= i.category %></p>
          </div>
        </a>
      </div>
    <% elsif i.category == "Keyboard Instruments" %>
      <% if(k== true)%>
        <div class="secondary-title">
        <%=i.category%>
        </div>
        <%k = false%>
     <%end%>
      <div class="card-product">
        <a href="<%= instrument_path(i) %>">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2 class="keyboard-instruments"><%= i.name %></h2>
            <div class="secondary-title">
        <%=i.category%>
        </div>
          </div>
        </a>
      </div>
    <% end %>
  <% end %>
</ul>
