<h2><%= @ins.name %></h2>


<h2>Reviews for <%= @ins.name %></h2>


<h2 id="description">
Description
<p>
Amazing Instrument!!!!!!!
</p>
<a  id="booking_link" href="<%= booking_path(@user_id,@id)%>"> book instrument </a>

</h2>

<hr>

<h2>

<ul>
  <% @reviews.each do |review| %>
    <li><%= review.comment %></li>
    <li>Rating: <%= review.rating %></li>
    <h2 id="person"> from: <%= @email%></h2>
  <% end %>
</ul>

</h2>


<hr>

<h1>
map
</h1>

<hr>
<h2>
other  available instrument
</h2>
