<div class="show-home">
    <div class="ins">

      <h2><%= @ins.name %></h2>


      <h2>Price: <%= @ins.price %> /day</h2>

      <h2 id="description">
      Description

      <p>
        Amazing Instrument!!!!!!!
      </p>

  </div>
      <hr>

    <hr>



  <div class="review">
    <h2>Reviews for <%= @ins.name %></h2>


    <% @reviews.each do |review| %>
      <%= review.comment %>

      <p>Rating: <%= review.rating %></p>
      <h2 id="person">from: <%= review.user.email %></h2>
    <% end %>
  </div>

      <hr>
          <hr>



  <div class="book">
      <%= form_tag("/booking", method: "get") do %>
        <%= hidden_field_tag(:user_id, current_user.id) %>
        <%= hidden_field_tag(:instrument_id, @ins.id) %>
        <%= date_field_tag(:starting_date, params[:starting_date], placeholder: "Starting Date",style:"width:300px;height:30px;") %>
        <p>
        </p>
        <%= date_field_tag(:ending_date, params[:ending_date], placeholder: "Ending Date",style:"width:300px;height:30px;") %>
        <p>
        </p>
        <%= submit_tag("Submit") %>
      <% end %>
    </h2>
  </div>

    <hr>


<% if @booking.present?%>
<hr>
<div class="rev">
  <%= form_tag("/rev", method: "get") do %>
    <%= text_field_tag(:comment, params[:comment], placeholder:"comment") %>
    <%= text_field_tag(:rating , params[:rating], placeholder: "rating[1 to 5]") %>
    <%= hidden_field_tag(:ins_id, @ins.id)%>
    <%= hidden_field_tag(:usr_id , @current_user.id)%>
    <%= submit_tag("Submit") %>
  <% end %>
  <% end %>

</div>
<hr>

  <%
=begin%>
 <div class="class">
    <h2>Other Available Instruments</h2>
  </div>
</div>
<%
=end%>
